@import "tailwindcss";
body::-webkit-scrollbar{
    display: none;
}

.header-div{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #767b7b;
    padding: 10px;
}
.services{
    display: flex;
    width: 70%;
}
.childService{
    margin: 10px;
}
.childService a{
    color: black;
    text-decoration: none;
}
.childService ul{
    background: #b7bbbb;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    margin-top: 0;
}
ul li{
    padding: 3px;
}
.childService:hover>ul,
.childService:focus-within ul{
    visibility: visible;
    opacity: 1;
    transition-duration: 0s;
}
